/* IMPORTING FONT FROM GOOGLE FONT */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@600&family=Poppins&display=swap');

:root {
    --white: #ffffff;
    --black: #000000;

    --heading1: normal normal normal 40px/180% "Mulish", sans-serif;
    --heading2: normal normal normal 30px/180% "Mulish", sans-serif;
    --heading3: normal normal normal 20px/180% "Mulish", sans-serif;
    --regular: normal normal normal 16px/180% "Poppins", sans-serif;
    --small: normal normal normal 14px/180% "Poppins", sans-serif;
}

.lightmode {
    background-color: var(--white);
    color: var(--black);
}

.darkmode {
    background-color: var(--black);
    color: var(--white) !important;
}

.darkmode h1, .darkmode h2, .darkmode h3, .darkmode a, .darkmode p {
    color: var(--white) !important;
}

body {
    margin: 0;
    font: var(--regular);
}   

.navbar {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 2vh 10vw;
    border-bottom: solid 1px #E8e8e8;
}

.navbar .logo {
    color: var(--black);
    text-decoration: none;
}

.navbar .toggle-mode {
    position: relative;
    left: 350px;
    top: 12px;
    width: 100px;
    height: 50px;
    background-color: red;
    border-radius: 30px;
    background-color: #E8e8e8;
}

.navbar .toggle-mode .toggle-button {
    position: relative;
    top: 10px;
    left: 10px;
    width: 30px;
    height: 30px;
    background-color: var(--white);
    border-radius: 50%;
    text-align: center;
    transition: 0.5s;
}

.navbar .toggle-mode .toggle-button i {
    margin-top: 6px;
}

.introduction {
    padding: 10vh 10vw;
    display: grid;
    grid-template-columns: 40% 1fr;
}

.introduction .planet-image img {
    width: 300px;
    height: 300px;
}

.introduction .introduction-content .title {
    text-transform: capitalize;
}

.video {
    padding: 0 10vw;
}

.video .video-item {
    width: 100%;
    border-radius: 10px;
    outline: none;
}

.info {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    padding: 5vh 10vw;
    text-transform: capitalize;
}

.info .info-item .label {
    font: var(--small);
}

.info .info-item .value {
    font-weight: bold;
}

.fun-fact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 5vh 10vw;
    gap: 50px 50px;
    text-transform: capitalize;
}

.fun-fact-item {
    display: grid;
    grid-template-columns: 40% 1fr;
    gap: 20px;
}

.fun-fact .fun-fact-item .fun-fact-image img {
    width: 100%;
    height: 150px;
    border-radius: 10px;
}